Click==7.0
cycler==0.10.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
matplotlib==2.1.1
mpldatacursor==0.6.2
numpy==1.13.3
pyparsing==2.2.0
PyQt5==5.9.2
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
sip==4.19.6
six==1.11.0
Werkzeug==0.14.1
